<div
      class="w-full relative bg-primary h-[1044px] overflow-hidden text-left text-4xs-7 text-black font-roboto"
    >
      <div
        class="absolute top-[101.1px] left-[0px] w-[264.4px] h-[707.4px] text-base-8 text-secondary font-lato"
      >
        <div
          class="absolute h-[7.35%] w-full top-[45.84%] right-[0%] bottom-[46.81%] left-[0%] hidden"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Water</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/icon--water.svg"
          />
        </div>
        <div
          class="absolute h-[7.35%] w-full top-[64.18%] right-[0%] bottom-[28.47%] left-[0%] hidden"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Security</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/icon--security.svg"
          />
        </div>
        <div
          class="absolute h-[8.06%] w-full top-[92.28%] right-[0%] bottom-[-0.34%] left-[0%] text-seagreen font-poppins"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Configuración</div>
          </div>
          <img
            class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/icon--setting@2x.png"
          />
        </div>
        <div
          class="absolute h-[7.35%] w-full top-[27.51%] right-[0%] bottom-[65.14%] left-[0%] text-seagreen"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Reportes</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/icon--temperature@2x.png"
          />
        </div>
        <div
          class="absolute h-[8.06%] w-full top-[8.82%] right-[0%] bottom-[83.12%] left-[0%] text-seagreen font-poppins"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Dispositivos</div>
          </div>
          <img
            class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/icon--devices.svg"
          />
        </div>
        <div
          class="absolute h-[7.35%] w-full top-[18.35%] right-[0%] bottom-[74.3%] left-[0%] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] text-gray-fff"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-seagreen flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Gráficos</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/icon--lights@2x.png"
          />
        </div>
        <div
          class="absolute h-[7.35%] w-full top-[36.68%] right-[0%] bottom-[55.97%] left-[0%] hidden"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Electricity</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/icon--electricity.svg"
          />
        </div>
        <div
          class="absolute h-[7.35%] w-full top-[55.02%] right-[0%] bottom-[37.63%] left-[0%] hidden"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Wi-Fi</div>
          </div>
          <img
            class="absolute h-[48.65%] w-[9.57%] top-[74.23%] right-[70.05%] bottom-[-22.88%] left-[20.39%] max-w-full overflow-hidden max-h-full object-contain"
            alt=""
            src="/public/icon--wifi@2x.png"
          />
        </div>
        <div
          class="absolute h-[8.06%] w-full top-[-0.34%] right-[0%] bottom-[92.28%] left-[0%] shadow-[0px_5.1px_10.11px_rgba(39,_76,_119,_0.16)] text-seagreen font-poppins"
        >
          <div
            class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
          >
            <div class="relative font-semibold">Panel de control</div>
          </div>
          <img
            class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
            alt=""
            src="/public/icon--dashboard1.svg"
          />
        </div>
      </div>
      <div
        class="absolute top-[0px] left-[0px] w-[1440px] h-[54px] text-base-2 text-seagreen font-poppins"
      >
        <div
          class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-t-none rounded-b-[16.84px] bg-boxes"
        ></div>
        <img
          class="absolute h-[39.07%] w-[1.74%] top-[29.63%] right-[4.44%] bottom-[31.3%] left-[93.82%] max-w-full overflow-hidden max-h-full object-contain"
          alt=""
          src="/public/btn--sign-out@2x.png"
        />

        <div
          class="absolute h-[70.19%] w-[12.92%] top-[14.07%] right-[8.89%] bottom-[15.74%] left-[78.19%] flex flex-row items-center justify-end py-[4.2px] px-0 box-border gap-[12.6px] text-center"
        >
          <div
            class="w-[10.9px] h-[21.1px] flex flex-col items-center justify-center py-[7.6px] px-0 box-border"
          >
            <img
              class="w-[10.1px] relative h-[5.1px] object-contain"
              alt=""
              src="/public/vector-9.svg"
            />
          </div>
          <div class="relative font-medium">Hola Luis</div>
          <img
            class="w-[29.5px] relative rounded-[50%] h-[29.5px] object-cover"
            alt=""
            src="/public/ellipse-1@2x.png"
          />
        </div>
        <div
          class="absolute h-[34.44%] w-[12.08%] top-[32.78%] right-[24.51%] bottom-[32.78%] left-[63.4%] hidden flex-row items-start justify-start text-secondary font-lato"
        >
          <div class="relative font-medium">Customize Dashboard</div>
        </div>
        <div
          class="absolute top-[17.7px] left-[208.8px] flex flex-row items-start justify-start gap-[21.1px]"
        >
          <div class="relative font-semibold">12:19:50 PM</div>
          <div class="relative font-semibold whitespace-pre-wrap">
            Sábado, 20 de abril del 2024
          </div>
        </div>
        <b
          class="absolute h-full w-[11.53%] top-[0%] left-[4.44%] text-base flex items-center"
          >AgriTech</b
        >
      </div>
      <div
        class="absolute top-[128px] left-[370px] overflow-hidden flex flex-row items-center justify-start text-sm text-gray-333 font-poppins"
      >
        <div
          class="overflow-hidden flex flex-row items-center justify-start text-color-vi"
        >
          <div class="overflow-hidden flex flex-row items-center justify-start">
            <div
              class="shadow-[0px_-2px_0px_#2b6ed3_inset] bg-gray-fff overflow-hidden flex flex-col items-center justify-start py-[13px] px-0"
            >
              <div
                class="h-[22px] overflow-hidden shrink-0 flex flex-row items-center justify-start"
              >
                <div class="relative leading-[22px] font-black">General</div>
              </div>
            </div>
            <div
              class="w-6 relative shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff h-12"
            ></div>
          </div>
          <div
            class="shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff overflow-hidden flex flex-col items-center justify-start py-[13px] px-0 text-gray-333"
          >
            <div
              class="h-[22px] overflow-hidden shrink-0 flex flex-row items-center justify-start gap-[8px]"
            >
              <img
                class="w-4 relative h-4 overflow-hidden shrink-0 hidden"
                alt=""
                src="/public/iconoutlinedhome.svg"
              />

              <div class="relative leading-[22px] font-black">Parcela 1</div>
            </div>
          </div>
          <div
            class="w-6 relative shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff h-12"
          ></div>
        </div>
        <div class="overflow-hidden flex flex-row items-center justify-start">
          <div
            class="shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff overflow-hidden flex flex-col items-center justify-start py-[13px] px-0"
          >
            <div
              class="h-[22px] overflow-hidden shrink-0 flex flex-row items-center justify-start gap-[8px]"
            >
              <img
                class="w-4 relative h-4 overflow-hidden shrink-0 hidden"
                alt=""
                src="/public/iconoutlinedhome.svg"
              />

              <div class="relative leading-[22px] font-black">Parcela 2</div>
            </div>
          </div>
          <div
            class="w-6 relative shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff h-12"
          ></div>
        </div>
        <div class="overflow-hidden flex flex-row items-center justify-start">
          <div
            class="shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff overflow-hidden flex flex-col items-center justify-start py-[13px] px-0"
          >
            <div
              class="h-[22px] overflow-hidden shrink-0 flex flex-row items-center justify-start gap-[8px]"
            >
              <img
                class="w-4 relative h-4 overflow-hidden shrink-0 hidden"
                alt=""
                src="/public/iconoutlinedhome.svg"
              />

              <div class="relative leading-[22px] font-black">Parcela 3</div>
            </div>
          </div>
          <div
            class="w-6 relative shadow-[0px_-1px_0px_#eee_inset] bg-gray-fff h-12"
          ></div>
        </div>
      </div>
      <div
        class="absolute top-[192px] left-[368px] w-[92px] h-[23px] text-[9px] text-gray-fff font-poppins"
      >
        <div
          class="absolute top-[0px] left-[0px] rounded-[5px] bg-seagreen w-[92px] h-[23px]"
        ></div>
        <b class="absolute top-[6px] left-[18px]">Día</b>
        <img
          class="absolute top-[4px] left-[72px] w-4 h-4 overflow-hidden"
          alt=""
          src="/public/caretdown.svg"
        />
      </div>
      <div
        class="absolute h-[27.82%] w-[28.97%] top-[25.77%] right-[45.47%] bottom-[46.42%] left-[25.56%]"
      >
        <div
          class="absolute h-[83.54%] w-full top-[16.46%] right-[0%] bottom-[0%] left-[0%]"
        >
          <div
            class="absolute h-[5.23%] w-[16.11%] top-[0%] right-[73.27%] bottom-[94.77%] left-[10.62%]"
          >
            <img
              class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <img
                class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
              />

              <div
                class="absolute h-full w-[58.78%] top-[0%] right-[0%] bottom-[0%] left-[41.22%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  Consumo de agua
                </div>
              </div>
              <img
                class="absolute h-[12.6%] w-[34.97%] top-[55.12%] right-[65.03%] bottom-[32.28%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
                src="/public/vector.svg"
              />
            </div>
          </div>
          <div
            class="absolute h-[91.01%] w-full top-[8.99%] right-[0%] bottom-[0%] left-[0%] text-right text-3xs-5"
          >
            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/group.svg"
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[83.89%] bottom-[0.05%] left-[5.37%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:50 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[56.28%] bottom-[0.05%] left-[32.98%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:55 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[27.61%] bottom-[0.05%] left-[59.85%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:00 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[0%] bottom-[0.05%] left-[87.46%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:05 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[1.8%] top-[87.86%] right-[91.56%] bottom-[5.98%] left-[6.64%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  0
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[6.9%] top-[70.29%] right-[91.56%] bottom-[23.55%] left-[1.53%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  5 m³
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[52.72%] right-[91.56%] bottom-[41.12%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  10 m³
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[35.14%] right-[91.56%] bottom-[58.7%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  15 m³
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[17.57%] right-[91.56%] bottom-[76.27%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  20 m³
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[0%] right-[91.56%] bottom-[93.84%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  25 m³
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="absolute top-[0px] left-[0px] text-base font-semibold font-poppins"
        >
          Consumo de agua
        </div>
      </div>
      <div
        class="absolute h-[27.82%] w-[28.97%] top-[61.59%] right-[6.79%] bottom-[10.59%] left-[64.24%]"
      >
        <div
          class="absolute h-[83.47%] w-full top-[16.53%] right-[0%] bottom-[0%] left-[0%]"
        >
          <div
            class="absolute h-[5.36%] w-[27.73%] top-[0%] right-[61.65%] bottom-[94.64%] left-[10.62%]"
          >
            <img
              class="absolute h-[82.31%] w-[58.08%] top-[10.77%] right-[41.92%] bottom-[6.92%] left-[0%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <img
                class="absolute h-[82.31%] w-[58.08%] top-[10.77%] right-[41.92%] bottom-[6.92%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
              />

              <div
                class="absolute h-full w-[76.06%] top-[0%] right-[0%] bottom-[0%] left-[23.94%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  temperatura del aire
                </div>
              </div>
              <img
                class="absolute h-[12.31%] w-[20.31%] top-[52.31%] right-[79.69%] bottom-[35.38%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
                src="/public/vector4.svg"
              />
            </div>
          </div>
          <div
            class="absolute h-[91.09%] w-full top-[8.91%] right-[0%] bottom-[0%] left-[0%] text-right text-3xs-5"
          >
            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/group.svg"
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[83.89%] bottom-[0.05%] left-[5.37%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:50 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[56.28%] bottom-[0.05%] left-[32.98%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:55 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[27.61%] bottom-[0.05%] left-[59.85%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:00 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[0%] bottom-[0.05%] left-[87.46%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:05 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[1.8%] top-[87.86%] right-[91.56%] bottom-[5.98%] left-[6.64%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  0
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[6.9%] top-[70.29%] right-[91.56%] bottom-[23.55%] left-[1.53%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  10.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[52.72%] right-[91.56%] bottom-[41.12%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  20.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[35.14%] right-[91.56%] bottom-[58.7%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  30.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[17.57%] right-[91.56%] bottom-[76.27%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  40.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[0%] right-[91.56%] bottom-[93.84%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  50.00
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="absolute top-[0px] left-[0px] text-base font-semibold font-poppins"
        >
          Temperatura del aire
        </div>
      </div>
      <div
        class="absolute h-[27.82%] w-[28.97%] top-[25.77%] right-[7.42%] bottom-[46.42%] left-[63.61%]"
      >
        <div
          class="absolute h-[83.54%] w-full top-[16.46%] right-[0%] bottom-[0%] left-[0%]"
        >
          <div
            class="absolute h-[5.23%] w-[16.11%] top-[0%] right-[73.27%] bottom-[94.77%] left-[10.62%]"
          >
            <img
              class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <img
                class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
              />

              <div
                class="absolute h-full w-[58.78%] top-[0%] right-[0%] bottom-[0%] left-[41.22%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  Humedad relativa
                </div>
              </div>
              <img
                class="absolute h-[12.6%] w-[34.97%] top-[55.12%] right-[65.03%] bottom-[32.28%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
                src="/public/vector.svg"
              />
            </div>
          </div>
          <div
            class="absolute h-[91.01%] w-full top-[8.99%] right-[0%] bottom-[0%] left-[0%] text-right text-3xs-5"
          >
            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/group.svg"
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[83.89%] bottom-[0.05%] left-[5.37%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:50 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[56.28%] bottom-[0.05%] left-[32.98%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:55 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[27.61%] bottom-[0.05%] left-[59.85%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:00 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[0%] bottom-[0.05%] left-[87.46%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:05 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[1.8%] top-[87.86%] right-[91.56%] bottom-[5.98%] left-[6.64%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  0
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[6.9%] top-[70.29%] right-[91.56%] bottom-[23.55%] left-[1.53%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  17.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[52.72%] right-[91.56%] bottom-[41.12%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  17.50
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[35.14%] right-[91.56%] bottom-[58.7%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  18.00
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[17.57%] right-[91.56%] bottom-[76.27%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  18.50
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[0%] right-[91.56%] bottom-[93.84%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  19.00
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="absolute top-[0px] left-[0px] text-base font-semibold font-poppins"
        >
          Humedad relativa
        </div>
      </div>
      <div
        class="absolute h-[27.82%] w-[28.97%] top-[61.02%] right-[45.47%] bottom-[11.17%] left-[25.56%]"
      >
        <div
          class="absolute h-[83.54%] w-full top-[16.46%] right-[0%] bottom-[0%] left-[0%]"
        >
          <div
            class="absolute h-[5.23%] w-[16.11%] top-[0%] right-[73.27%] bottom-[94.77%] left-[10.62%]"
          >
            <img
              class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <img
                class="absolute h-[84.25%] w-full top-[12.6%] right-[0%] bottom-[3.15%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
              />

              <div
                class="absolute h-full w-[58.78%] top-[0%] right-[0%] bottom-[0%] left-[41.22%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  Humedad del suelo
                </div>
              </div>
              <img
                class="absolute h-[12.6%] w-[34.97%] top-[55.12%] right-[65.03%] bottom-[32.28%] left-[0%] max-w-full overflow-hidden max-h-full"
                alt=""
                src="/public/vector.svg"
              />
            </div>
          </div>
          <div
            class="absolute h-[91.01%] w-full top-[8.99%] right-[0%] bottom-[0%] left-[0%] text-right text-3xs-5"
          >
            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
            />

            <img
              class="absolute h-[88.27%] w-[83.13%] top-[3.22%] right-[6.26%] bottom-[8.51%] left-[10.62%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/group.svg"
            />

            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%]"
            >
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[83.89%] bottom-[0.05%] left-[5.37%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:50 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[10.74%] top-[93.8%] right-[56.28%] bottom-[0.05%] left-[32.98%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  6:55 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[27.61%] bottom-[0.05%] left-[59.85%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:00 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[12.54%] top-[93.8%] right-[0%] bottom-[0.05%] left-[87.46%] text-center"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  7:05 PM
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[1.8%] top-[87.86%] right-[91.56%] bottom-[5.98%] left-[6.64%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  0
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[6.9%] top-[70.29%] right-[91.56%] bottom-[23.55%] left-[1.53%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  320
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[52.72%] right-[91.56%] bottom-[41.12%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  325
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[35.14%] right-[91.56%] bottom-[58.7%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  330
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[17.57%] right-[91.56%] bottom-[76.27%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  335
                </div>
              </div>
              <div
                class="absolute h-[6.16%] w-[8.44%] top-[0%] right-[91.56%] bottom-[93.84%] left-[0%]"
              >
                <div
                  class="absolute h-full w-full top-[0%] left-[0%] inline-block"
                >
                  340
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="absolute top-[0px] left-[0px] text-base font-semibold font-poppins"
        >
          Humedad del suelo
        </div>
      </div>
    </div>