<div class="p-10">
  <mat-button-toggle-group
    name="options"
    [(ngModel)]="selectedOption"
    aria-label="Option selection"
    appearance="legacy"
    (change)="this.getSensorDataRecordFiltered()">
    <mat-button-toggle *ngFor="let zone of zones" [value]="zone.name">{{ zone.name.toUpperCase() }}</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group
    name="options"
    [(ngModel)]="dateSelectedOption"
    aria-label="Option selection"
    appearance="legacy"
    (change)="this.getSensorDataRecordFiltered()">
    <mat-button-toggle *ngFor="let date of dateFilter; let index = index" [value]="date">{{ date.toUpperCase() }}</mat-button-toggle>
  </mat-button-toggle-group>

<!--  <button mat-button> Aplicar Filtro</button>-->


  <div class="grid grid-cols-2 gap-6">
    <div>
      <h2 class="mb-4">Water Consumption</h2>
      <div *ngIf="waterUsageChart[0]">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [autoScale]="true"
          [yAxisLabel]="'Water Consumption'"
          [timeline]="timeline"
          [results]="waterUsageChart"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
      </div>
      <div *ngIf="!waterUsageChart[0]">
        <p>No hubo registro para el filtro aplicado</p>
      </div>
    </div>
    <div>
      <h2 class="mb-4">Soil Moisture</h2>
      <div *ngIf="moistureChart[0]">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [autoScale]="true"
          [yAxisLabel]="'Humedad del suelo'"
          [timeline]="timeline"
          [results]="moistureChart"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
      </div>
      <div *ngIf="!moistureChart[0]">
        <p>No hubo registro para el filtro aplicado</p>
      </div>
    </div>
    <div>
      <h2 class="mb-4">Air Humidity</h2>
      <div *ngIf="humidityChart[0]">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [autoScale]="true"
          [yAxisLabel]="'Air Humidity'"
          [timeline]="timeline"
          [results]="humidityChart"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
      </div>
      <div *ngIf="!humidityChart[0]">
        <p>No hubo registro para el filtro aplicado</p>
      </div>
    </div>
    <div>
      <h2 class="mb-4">Air Temperature</h2>
      <div *ngIf="temperatureChart[0]">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [xAxis]="xAxis"
          [yAxis]="yAxis"
          [xAxisLabel]="xAxisLabel"
          [autoScale]="true"
          [yAxisLabel]="'Air Temperature'"
          [timeline]="timeline"
          [results]="temperatureChart"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-line-chart>
      </div>
      <div *ngIf="!temperatureChart[0]">
        <p>No hubo registro para el filtro aplicado</p>
      </div>

    </div>
  </div>
</div>
