<div class="p-10">
  <div class="justify-center w-full">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion && accordion.closeAll()">Collapse All</button>
    </div>
    <mat-accordion class="w-full">
      <!-- Encabezados de la tabla -->
      <mat-expansion-panel expanded="false" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="grid grid-cols-4 w-full">
              <div class="font-bold">{{displayedColumns[0]}}</div>
              <div class="font-bold">{{displayedColumns[1]}}</div>
              <div class="font-bold">{{displayedColumns[2]}}</div>
              <div class="font-bold">{{displayedColumns[3]}}</div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <!-- Filas de datos -->
      <mat-expansion-panel *ngFor="let element of deviceData.data">
        <mat-expansion-panel-header>
          <mat-panel-title class="w-full">
            <div class="grid grid-cols-4 w-full">
              <div>{{element.deviceName}}</div>
              <div>{{element.media}}</div>
              <div>{{formatDateTime(element.createdAt)}}</div>
              <div class="w-[200px]">
                <div [className]="'w-[110px] rounded-2xl p-1 text-white text-center ' + (element.status === 'CONNECTED' ? 'bg-forestgreen': element.status === 'FAIL' ? 'bg-forested' : 'bg-gray-100')">
                  {{element.status}}
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div class="p-4">
          <!-- Datos de los sensores o actuadores -->
<!--          <div *ngIf="element.media === 'transmissor'">-->
            <p>Sensors:</p>
            <ul>
              <li>Caudal</li>
              <li>Air Temperature</li>
              <li>Air Humidity</li>
              <li>Soil Moisture</li>
            </ul>
<!--          </div>-->
          <div *ngIf="element.media === 'receptor'">
            <p>Actuadores:</p>
            <ul>
              <li>Electrovalvula</li>
            </ul>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
