<div class="rounded-b-xl shadow-lg w-full relative h-[54px] bg-fontwhate flex items-center">
  <div class="w-full grid grid-cols-5 px-10 items-center">
    <div class="flex items-center font-bold text-[22px]">AgroTech</div>
    <div class="flex flex-row items-start justify-start gap-[21.1px] col-span-3">
      <div class="relative font-semibold">{{time}}</div>
      <div class="relative font-semibold whitespace-pre-wrap">
        {{date}}
      </div>
    </div>
    <div class="flex flex-row items-center justify-end py-[4.2px] px-0 box-border gap-[12.6px] text-center">
      <div class="relative font-medium" style="text-transform: capitalize">
        {{ msg }}
        {{ localStorage.getItem('user') ? JSON.parse(localStorage.getItem('user')!).split('@')[0] : '' }}
      </div>

      <mat-icon aria-hidden="false" aria-label="Logout icon" fontIcon="logout" class="ml-5" (click)="logout()" style="cursor: pointer"></mat-icon>
    </div>
  </div>
</div>
