<!--*ngIf="isLogin; else signInTemplate"-->
<div class="text-seagreen h-screen flex flex-col">
  <header-bar class="w-full"></header-bar>
  <div class="flex flex-1">
    <div class="bg-gray-800 text-white flex flex-col items-center overflow-y-auto w-64 h-full">
      <side-navigation-bar></side-navigation-bar>
    </div>
    <div class="bg-primary flex-1 h-full">
      <router-outlet style="padding-left: 50px"></router-outlet>
    </div>
  </div>
</div>

<ng-template #signInTemplate>
<!--  <sign-in (isLogin)="onLogin($event)"></sign-in>-->
</ng-template>
