<div class="bg-gray-800 text-white w-64 flex-none">
  <div class="p-4">
    <ul nz-menu nzMode="inline" class="bg-gray-800 border-0">
      <li nz-menu-item [routerLink]="['/dashboard']" routerLinkActive="bg-seagreen" class="my-2 h-12 rounded-lg hover:bg-seagreen">
        <span nz-icon nzType="home" nzTheme="outline" class="mr-2"></span>
        <span class="font-semibold">Dashboard</span>
      </li>
      <li nz-menu-item [routerLink]="['/devices']" routerLinkActive="bg-seagreen" class="my-2 h-12 rounded-lg hover:bg-seagreen">
        <span nz-icon nzType="mobile" nzTheme="outline" class="mr-2"></span>
        <span class="font-semibold">Devices</span>
      </li>
      <li nz-menu-item [routerLink]="['/historical-data']" routerLinkActive="bg-seagreen" class="my-2 h-12 rounded-lg hover:bg-seagreen">
        <span nz-icon nzType="bar-chart" nzTheme="outline" class="mr-2"></span>
        <span class="font-semibold">Charts</span>
      </li>
    </ul>
  </div>
</div>
