.login-header {
  font-size: 29px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../../../assets/fondo.jpg');
  background-size: cover;
}

.login-box {
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 100px;
  height: 150px;
  margin: 0 auto;
  display: block;
  background-image: url('../../../../assets/logo.png');
  background-size: cover;
}

/* Ng-Zorro custom styles */
::ng-deep .ant-form-item {
  margin-bottom: 20px;
}

::ng-deep .ant-form-item-label > label {
  font-weight: 500;
}

::ng-deep .ant-input {
  border: 1px solid #887E7E;
  padding: 6px 10px;
  border-radius: 4px;
}

::ng-deep .ant-btn-primary {
  height: 40px;
  background: #297739;
  border-color: #297739;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

::ng-deep .ant-btn-primary:hover {
  background: #215f2e;
  border-color: #215f2e;
}
