<div class="login-container">
  <div class="login-box p-shadow-10">
    <div class="logo-image"></div>
    <h2 class="login-header">Sign In</h2>
    <form nz-form [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Email Address</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-input-group [nzPrefix]="emailPrefix">
            <input nz-input formControlName="emailAddress" type="email" placeholder="Enter your email" />
          </nz-input-group>
          <ng-template #emailPrefix>
            <span nz-icon nzType="mail" nzTheme="outline"></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="24">Password</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input nz-input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter your password" />
          </nz-input-group>
          <ng-template #suffixTemplate>
            <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible" style="cursor: pointer;"></span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="24">
          <button nz-button nzType="primary" nzBlock [disabled]="loginForm!.invalid" class="mt-4">Enter</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
