<div
      class="w-full relative bg-primary h-[827px] overflow-hidden flex flex-col items-start justify-start gap-[47px] text-left text-base-2 text-seagreen font-poppins"
    >
      <div class="w-[1440px] relative h-[54px]">
        <div
          class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-t-none rounded-b-[16.84px] bg-boxes"
        ></div>
        <img
          class="absolute h-[39.07%] w-[1.74%] top-[29.63%] right-[4.44%] bottom-[31.3%] left-[93.82%] max-w-full overflow-hidden max-h-full object-contain"
          alt=""
          src="/public/btn--sign-out@2x.png"
        />

        <div
          class="absolute h-[70.19%] w-[12.92%] top-[14.07%] right-[8.89%] bottom-[15.74%] left-[78.19%] flex flex-row items-center justify-end py-[4.2px] px-0 box-border gap-[12.6px] text-center"
        >
          <div
            class="w-[10.9px] h-[21.1px] flex flex-col items-center justify-center py-[7.6px] px-0 box-border"
          >
            <img
              class="w-[10.1px] relative h-[5.1px] object-contain"
              alt=""
              src="/public/vector-9.svg"
            />
          </div>
          <div class="relative font-medium">Hola Luis</div>
          <img
            class="w-[29.5px] relative rounded-[50%] h-[29.5px] object-cover"
            alt=""
            src="/public/ellipse-1@2x.png"
          />
        </div>
        <div
          class="absolute h-[34.44%] w-[12.08%] top-[32.78%] right-[24.51%] bottom-[32.78%] left-[63.4%] hidden flex-row items-start justify-start text-secondary font-lato"
        >
          <div class="relative font-medium">Customize Dashboard</div>
        </div>
        <div
          class="absolute top-[17.7px] left-[208.8px] flex flex-row items-start justify-start gap-[21.1px]"
        >
          <div class="relative font-semibold">12:19:50 PM</div>
          <div class="relative font-semibold whitespace-pre-wrap">
            Sábado, 20 de abril del 2024
          </div>
        </div>
        <b
          class="absolute h-full w-[11.53%] top-[0%] left-[4.44%] text-[16px] flex items-center"
          >AgriTech</b
        >
      </div>
      <div
        class="w-[1270px] overflow-hidden flex flex-col items-center justify-center text-base-8 text-secondary font-lato"
      >
        <div
          class="w-[1270px] h-[707.4px] flex flex-row items-center justify-start gap-[162px]"
        >
          <div
            class="w-[264.4px] h-[707.4px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
          >
            <div class="w-[264.4px] relative h-[707.4px]">
              <div
                class="absolute h-[7.35%] w-full top-[45.84%] right-[0%] bottom-[46.81%] left-[0%] hidden"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Water</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/public/icon--water.svg"
                />
              </div>
              <div
                class="absolute h-[7.35%] w-full top-[64.18%] right-[0%] bottom-[28.47%] left-[0%] hidden"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Security</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/public/icon--security.svg"
                />
              </div>
              <div
                class="absolute h-[8.06%] w-full top-[92.28%] right-[0%] bottom-[-0.34%] left-[0%] text-seagreen font-poppins"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Configuración</div>
                </div>
                <img
                  class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
                  alt=""
                  src="/public/icon--setting@2x.png"
                />
              </div>
              <div
                class="absolute h-[7.35%] w-full top-[27.51%] right-[0%] bottom-[65.14%] left-[0%] text-seagreen"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Reportes</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
                  alt=""
                  src="/public/icon--temperature@2x.png"
                />
              </div>
              <div
                class="absolute h-[8.06%] w-full top-[8.82%] right-[0%] bottom-[83.12%] left-[0%] text-seagreen font-poppins"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Dispositivos</div>
                </div>
                <img
                  class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/public/icon--devices.svg"
                />
              </div>
              <div
                class="absolute h-[7.35%] w-full top-[18.35%] right-[0%] bottom-[74.3%] left-[0%] text-seagreen"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Gráficos</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
                  alt=""
                  src="/public/icon--lights@2x.png"
                />
              </div>
              <div
                class="absolute h-[7.35%] w-full top-[36.68%] right-[0%] bottom-[55.97%] left-[0%] hidden"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Electricity</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/public/icon--electricity.svg"
                />
              </div>
              <div
                class="absolute h-[7.35%] w-full top-[55.02%] right-[0%] bottom-[37.63%] left-[0%] hidden"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Wi-Fi</div>
                </div>
                <img
                  class="absolute h-[48.65%] w-[9.57%] top-[74.23%] right-[70.05%] bottom-[-22.88%] left-[20.39%] max-w-full overflow-hidden max-h-full object-contain"
                  alt=""
                  src="/public/icon--wifi@2x.png"
                />
              </div>
              <div
                class="absolute h-[8.06%] w-full top-[-0.34%] right-[0%] bottom-[92.28%] left-[0%] shadow-[0px_5.1px_10.11px_rgba(39,_76,_119,_0.16)] text-primary font-poppins"
              >
                <div
                  class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-seagreen flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
                >
                  <div class="relative font-semibold">Panel de control</div>
                </div>
                <img
                  class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
                  alt=""
                  src="/public/icon--dashboard.svg"
                />
              </div>
            </div>
          </div>
          <div
            class="w-[843px] h-[707.4px] overflow-hidden shrink-0 flex flex-row items-center justify-start gap-[50px] text-xs-8 text-half-secondary"
          >
            <div
              class="w-[264.4px] h-[707.4px] overflow-hidden shrink-0 flex flex-col items-center justify-start"
            >
              <div
                class="w-[264.4px] h-[565px] overflow-hidden shrink-0 flex flex-col items-center justify-start gap-[50px]"
              >
                <div class="w-[264.4px] relative rounded-[16.84px] h-[155px]">
                  <div
                    class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                  ></div>
                  <img
                    class="absolute h-[53.81%] w-[41.72%] top-[23.35%] right-[12.75%] bottom-[22.84%] left-[45.54%] max-w-full overflow-hidden max-h-full object-cover"
                    alt=""
                    src="/public/illustrator@2x.png"
                  />

                  <div
                    class="absolute h-[60.84%] w-[32.03%] top-[25.55%] right-[61.76%] bottom-[13.61%] left-[6.2%]"
                  >
                    <div
                      class="absolute h-[19.62%] w-[99.41%] top-[80.38%] left-[0.47%] font-semibold text-secondary-low flex items-center"
                    >
                      Parcialmente nublado
                    </div>
                    <div
                      class="absolute h-[14.85%] w-[89.49%] top-[58.22%] right-[10.51%] bottom-[26.94%] left-[0%] flex flex-row items-center justify-center gap-[8.4px] text-cold"
                    >
                      <div class="relative font-semibold">3° C</div>
                      <div class="relative font-semibold text-secondary-low">
                        /
                      </div>
                      <div class="relative font-semibold text-darkorange">
                        16° C
                      </div>
                    </div>
                    <b
                      class="absolute h-[17.82%] w-[63.64%] top-[31.28%] left-[0.47%] text-[20.2px] flex items-center"
                      >14° C</b
                    >
                    <div
                      class="absolute h-[31.28%] w-[73.55%] top-[0%] left-[0.47%] text-sm-5 font-semibold flex items-center"
                    >
                      Tumbes
                    </div>
                  </div>
                  <img
                    class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.39%] bottom-[78.32%] left-[87.25%] max-w-full overflow-hidden max-h-full"
                    alt=""
                    src="/public/more.svg"
                  />

                  <div
                    class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.35%] text-base-2 font-extrabold text-secondary flex items-end"
                  >
                    Clima
                  </div>
                </div>
                <div class="w-[264.4px] relative h-[155px]">
                  <div
                    class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                  ></div>
                  <img
                    class="absolute h-[21.16%] w-[73.26%] top-[65.23%] right-[13.35%] bottom-[13.61%] left-[13.39%] max-w-full overflow-hidden max-h-full"
                    alt=""
                    src="/public/stats.svg"
                  />

                  <div
                    class="absolute h-[15.74%] w-[87.25%] top-[33.16%] right-[6.69%] bottom-[51.1%] left-[6.05%]"
                  >
                    <div
                      class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[7.58px] bg-primary opacity-[0.5]"
                    ></div>
                    <div
                      class="absolute h-full w-[50.02%] top-[0%] right-[49.98%] bottom-[0%] left-[0%] rounded-[7.58px] bg-secondary-low opacity-[0.5]"
                    ></div>
                    <b class="absolute top-[20.9%] left-[66.45%]">Semana</b>
                    <b class="absolute top-[20.9%] left-[19.33%]">Día</b>
                  </div>
                  <img
                    class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.69%] bottom-[78.32%] left-[86.95%] max-w-full overflow-hidden max-h-full"
                    alt=""
                    src="/public/more1.svg"
                  />

                  <div
                    class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.05%] text-base-2 font-extrabold text-secondary flex items-end"
                  >
                    Humedad del suelo
                  </div>
                </div>
                <div class="w-[264.4px] relative h-[155px]">
                  <div
                    class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                  ></div>
                  <img
                    class="absolute h-[21.16%] w-[73.26%] top-[65.23%] right-[13.35%] bottom-[13.61%] left-[13.39%] max-w-full overflow-hidden max-h-full"
                    alt=""
                    src="/public/stats.svg"
                  />

                  <div
                    class="absolute h-[15.74%] w-[87.25%] top-[33.16%] right-[6.69%] bottom-[51.1%] left-[6.05%]"
                  >
                    <div
                      class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[7.58px] bg-primary opacity-[0.5]"
                    ></div>
                    <div
                      class="absolute h-full w-[50.02%] top-[0%] right-[49.98%] bottom-[0%] left-[0%] rounded-[7.58px] bg-secondary-low opacity-[0.5]"
                    ></div>
                    <b class="absolute top-[20.9%] left-[66.45%]">Semana</b>
                    <b class="absolute top-[20.9%] left-[19.33%]">Día</b>
                  </div>
                  <img
                    class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.69%] bottom-[78.32%] left-[86.95%] max-w-full overflow-hidden max-h-full"
                    alt=""
                    src="/public/more1.svg"
                  />

                  <div
                    class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.05%] text-base-2 font-extrabold text-secondary flex items-end"
                  >
                    Temperatura del aire
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-[528px] h-[707.4px] overflow-hidden shrink-0 flex flex-row items-center justify-end gap-[43px]"
            >
              <div
                class="w-[274px] h-[695.4px] overflow-hidden shrink-0 flex flex-col items-center justify-start"
              >
                <div
                  class="w-[274px] h-[578.2px] overflow-hidden shrink-0 flex flex-col items-start justify-start gap-[41px]"
                >
                  <div class="w-[264.4px] relative h-[155px]">
                    <div
                      class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                    ></div>
                    <img
                      class="absolute h-[21.16%] w-[73.26%] top-[65.23%] right-[13.35%] bottom-[13.61%] left-[13.39%] max-w-full overflow-hidden max-h-full"
                      alt=""
                      src="/public/stats.svg"
                    />

                    <div
                      class="absolute h-[15.74%] w-[87.25%] top-[33.16%] right-[6.69%] bottom-[51.1%] left-[6.05%]"
                    >
                      <div
                        class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[7.58px] bg-primary opacity-[0.5]"
                      ></div>
                      <div
                        class="absolute h-full w-[50.02%] top-[0%] right-[49.98%] bottom-[0%] left-[0%] rounded-[7.58px] bg-secondary-low opacity-[0.5]"
                      ></div>
                      <b class="absolute top-[20.9%] left-[66.45%]">Semana</b>
                      <b class="absolute top-[20.9%] left-[19.33%]">Día</b>
                    </div>
                    <img
                      class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.69%] bottom-[78.32%] left-[86.95%] max-w-full overflow-hidden max-h-full"
                      alt=""
                      src="/public/more1.svg"
                    />

                    <div
                      class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.05%] text-base-2 font-extrabold text-secondary flex items-end"
                    >
                      Consumo de agua
                    </div>
                  </div>
                  <div
                    class="w-[274px] h-[382.1px] overflow-hidden shrink-0 flex flex-col items-center justify-center gap-[53px]"
                  >
                    <div class="w-[264.4px] relative h-[155px]">
                      <div
                        class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                      ></div>
                      <img
                        class="absolute h-[21.16%] w-[73.26%] top-[65.23%] right-[13.35%] bottom-[13.61%] left-[13.39%] max-w-full overflow-hidden max-h-full"
                        alt=""
                        src="/public/stats.svg"
                      />

                      <div
                        class="absolute h-[15.74%] w-[87.25%] top-[33.16%] right-[6.69%] bottom-[51.1%] left-[6.05%]"
                      >
                        <div
                          class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[7.58px] bg-primary opacity-[0.5]"
                        ></div>
                        <div
                          class="absolute h-full w-[50.02%] top-[0%] right-[49.98%] bottom-[0%] left-[0%] rounded-[7.58px] bg-secondary-low opacity-[0.5]"
                        ></div>
                        <b class="absolute top-[20.9%] left-[66.45%]">Semana</b>
                        <b class="absolute top-[20.9%] left-[19.33%]">Día</b>
                      </div>
                      <img
                        class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.69%] bottom-[78.32%] left-[86.95%] max-w-full overflow-hidden max-h-full"
                        alt=""
                        src="/public/more1.svg"
                      />

                      <div
                        class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.05%] text-base-2 font-extrabold text-secondary flex items-end"
                      >
                        Humedad relativa
                      </div>
                    </div>
                    <div
                      class="w-[274px] relative h-[173.2px] overflow-hidden shrink-0 text-3xs text-black font-roboto"
                    >
                      <div
                        class="absolute top-[0px] left-[0px] w-[264.4px] h-[173.2px]"
                      >
                        <div class="absolute top-[71.59%] left-[290.47%]">
                          1
                        </div>
                        <div
                          class="absolute top-[0px] left-[0px] w-[264.4px] h-[173.2px] overflow-hidden text-base-2"
                        >
                          <div
                            class="absolute top-[0px] left-[0px] w-[264.4px] h-[155px] text-half-secondary font-lato"
                          >
                            <div
                              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                            ></div>
                            <div
                              class="absolute h-[11.94%] w-[38.84%] top-[74.45%] left-[52.57%] text-sm-5 hidden items-center"
                            >
                              <span class="w-full">
                                <span class="font-extrabold">6.48</span>
                                <span class="text-secondary-low">
                                  <span class="font-medium"> </span>
                                </span>
                                <span class="font-semibold text-green">
                                  <span class="text-secondary-low">GB </span>
                                  <span>received</span>
                                </span>
                              </span>
                            </div>
                            <div
                              class="absolute h-[11.94%] w-[32.49%] top-[74.45%] left-[6.35%] text-sm-5 hidden items-center text-secondary-low"
                            >
                              <span class="w-full">
                                <span class="font-extrabold text-half-secondary"
                                  >12.54</span
                                >
                                <span>
                                  <span class="font-medium"> </span>
                                </span>
                                <span class="font-semibold">
                                  <span>GB </span>
                                  <span class="text-red">sent</span>
                                </span>
                              </span>
                            </div>
                            <div
                              class="absolute h-[16.32%] w-[55.41%] top-[50%] left-[6.35%] hidden items-center"
                            >
                              <span class="w-full">
                                <span class="font-extrabold">
                                  <span>4</span>
                                </span>
                                <span class="text-secondary-low">
                                  <span class="font-extrabold"> </span>
                                  <span class="font-medium"
                                    >En Mantemiento</span
                                  >
                                </span>
                              </span>
                            </div>
                            <b
                              class="absolute h-[16.32%] w-[55.41%] top-[29.87%] left-[6.35%] hidden items-center"
                              >Connected</b
                            >
                            <img
                              class="absolute h-[10.84%] w-[6.35%] top-[10.84%] right-[6.39%] bottom-[78.32%] left-[87.25%] max-w-full overflow-hidden max-h-full"
                              alt=""
                              src="/public/more.svg"
                            />

                            <div
                              class="absolute h-[25.55%] w-[33.43%] top-[0%] left-[6.35%] font-extrabold text-secondary flex items-end"
                            >
                              Dispositivos
                            </div>
                          </div>
                          <div
                            class="absolute top-[71.02%] left-[41.98%] text-3xs"
                          >
                            1
                          </div>
                          <div
                            class="absolute h-[48.5%] w-[32.15%] top-[31.18%] right-[56.88%] bottom-[20.32%] left-[10.97%] text-[35px]"
                          >
                            <div
                              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[50%] bg-salmon-200"
                            ></div>
                            <div
                              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[50%] bg-salmon-200 hidden"
                            ></div>
                            <div
                              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[50%] bg-forestgreen"
                            ></div>
                            <div
                              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-[50%] bg-gray-100"
                            ></div>
                            <b
                              class="absolute h-[84.4%] w-[23.18%] top-[38.45%] left-[38.47%] hidden"
                              >14</b
                            >
                            <div
                              class="absolute h-[23.69%] w-[6.82%] top-[96.67%] left-[20.94%] text-[20px] inline-block"
                            ></div>
                            <div
                              class="absolute top-[42.86%] left-[44.71%] text-[14px]"
                            >
                              4
                            </div>
                            <div
                              class="absolute top-[0%] left-[-3.53%] text-3xs"
                            >
                              2
                            </div>
                          </div>
                          <div
                            class="absolute top-[61px] left-[148px] w-[94px] h-[112.2px] text-[18px] text-gray-200 font-poppins"
                          >
                            <div
                              class="absolute h-[28.07%] w-full top-[22.55%] right-[0%] bottom-[49.38%] left-[0%] flex flex-row items-start justify-start gap-[8px]"
                            >
                              <div
                                class="w-[15.2px] h-[12.1px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
                              >
                                <div
                                  class="w-[7.6px] relative rounded-81xl bg-salmon-100 h-1.5"
                                ></div>
                              </div>
                              <div
                                class="w-[75.4px] relative h-[31.3px] hidden"
                              ></div>
                            </div>
                            <div
                              class="absolute h-[27.9%] w-[96.38%] top-[0%] right-[3.62%] bottom-[72.1%] left-[0%] flex flex-row items-start justify-start gap-[9px]"
                            >
                              <div
                                class="w-[14.8px] h-[12.2px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
                              >
                                <div
                                  class="w-[7.4px] relative rounded-81xl bg-forestgreen h-[6.1px]"
                                ></div>
                              </div>
                              <div class="w-[64.7px] relative h-[31.3px]">
                                <div
                                  class="absolute h-[34.82%] w-[127.98%] top-[0%] left-[0%] font-medium hidden items-end"
                                >
                                  Conectados
                                </div>
                              </div>
                            </div>
                            <div
                              class="absolute h-[28.07%] w-full top-[71.93%] right-[0%] bottom-[0%] left-[0%] flex flex-row items-start justify-start gap-[8px]"
                            >
                              <div
                                class="w-[15.3px] h-[12.3px] overflow-hidden shrink-0 flex flex-col items-center justify-center"
                              >
                                <div
                                  class="w-[7.7px] relative rounded-81xl bg-cornflowerblue h-[6.2px] hidden"
                                ></div>
                              </div>
                              <div
                                class="w-[67.1px] relative h-[31.5px] hidden"
                              ></div>
                            </div>
                            <div
                              class="absolute h-[28.07%] w-full top-[46.97%] right-[0%] bottom-[24.96%] left-[0%] hidden"
                            ></div>
                            <div
                              class="absolute h-[5.61%] w-[8.19%] top-[51.69%] right-[87.55%] bottom-[42.69%] left-[4.26%] rounded-81xl bg-gray-100"
                            ></div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="absolute top-[63px] left-[169px] w-[105px] h-[65px] text-xs-8 text-gray-200 font-poppins"
                      >
                        <div
                          class="absolute top-[0px] left-[911px] font-medium flex items-end w-[105px] h-[15px]"
                        >
                          Conectados
                        </div>
                        <div
                          class="absolute top-[24px] left-[0px] w-[105px] h-[42px] overflow-hidden flex flex-col items-start justify-start gap-[13px]"
                        >
                          <div
                            class="w-[93px] relative font-medium flex items-end h-[15px] shrink-0"
                          >
                            Con fallas
                          </div>
                          <div
                            class="w-[105px] relative font-medium flex items-end h-3.5 shrink-0"
                          >
                            Desconectados
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="w-[210.5px] h-[707.4px] overflow-hidden shrink-0 flex flex-col items-center justify-start text-secondary-low"
              >
                <div class="w-[210.5px] relative h-64">
                  <div class="absolute top-[0px] left-[0px] w-[210.5px] h-64">
                    <div
                      class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-[16.84px] bg-boxes"
                    ></div>
                    <div
                      class="absolute h-[25.27%] w-[78.81%] top-[64.73%] right-[13.21%] bottom-[10%] left-[7.98%]"
                    >
                      <div
                        class="absolute top-[78.36%] left-[12.72%] font-medium"
                      >
                        Hace 16 minutos
                      </div>
                      <div
                        class="absolute w-[87.28%] top-[0%] left-[12.72%] text-sm-5 leading-[170%] font-semibold text-half-secondary flex items-end"
                      >
                        Se agregó un nuevo dispositio
                      </div>
                      <div
                        class="absolute h-[12.98%] w-[5.06%] top-[13.29%] right-[94.94%] bottom-[73.72%] left-[0%] rounded-[50%] bg-green"
                      ></div>
                    </div>
                    <div
                      class="absolute h-[13.36%] w-[73.68%] top-[45.08%] right-[18.34%] bottom-[41.56%] left-[7.98%]"
                    >
                      <div
                        class="absolute top-[59.06%] left-[13.6%] font-medium"
                      >
                        Hace 12 minutos
                      </div>
                      <div
                        class="absolute top-[0%] left-[13.6%] text-sm-5 font-semibold text-half-secondary"
                      >
                        Se ha activado el riego
                      </div>
                      <div
                        class="absolute h-[24.56%] w-[5.42%] top-[12.28%] right-[94.58%] bottom-[63.16%] left-[0%] rounded-[50%] bg-green"
                      ></div>
                    </div>
                    <div
                      class="absolute h-[13.36%] w-[83.66%] top-[25%] right-[8.36%] bottom-[61.64%] left-[7.98%]"
                    >
                      <div
                        class="absolute top-[59.06%] left-[11.98%] font-medium"
                      >
                        Hace 5 minutos
                      </div>
                      <div
                        class="absolute top-[0%] left-[11.98%] text-sm-5 font-semibold text-half-secondary"
                      >
                        Se ha desactivado el riego
                      </div>
                      <div
                        class="absolute h-[24.56%] w-[4.77%] top-[12.28%] right-[95.23%] bottom-[63.16%] left-[0%] rounded-[50%] bg-red"
                      ></div>
                    </div>
                    <img
                      class="absolute h-[6.56%] w-[7.98%] top-[6.56%] right-[8.03%] bottom-[86.87%] left-[83.99%] max-w-full overflow-hidden max-h-full"
                      alt=""
                      src="/public/more2.svg"
                    />

                    <div
                      class="absolute h-[15.47%] w-[45.99%] top-[0%] left-[7.98%] text-base-2 font-extrabold text-secondary hidden items-end"
                    >
                      Notificaciones
                    </div>
                  </div>
                  <div
                    class="absolute top-[0px] left-[1076px] w-[99px] h-[35px] overflow-hidden flex flex-col items-center justify-end text-base-2 text-secondary"
                  >
                    <div class="relative font-extrabold">Notificaciones</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>