<div
      class="w-full relative bg-primary h-[847px] overflow-hidden flex flex-col items-start justify-start gap-[47px] text-left text-base-2 text-seagreen font-poppins"
    >
      <div class="w-[1440px] relative h-[54px]">
        <div
          class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] shadow-[0px_20.2px_40.42px_-6.74px_rgba(39,_76,_119,_0.16)] rounded-t-none rounded-b-[16.84px] bg-boxes"
        ></div>
        <img
          class="absolute h-[39.07%] w-[1.74%] top-[29.63%] right-[4.44%] bottom-[31.3%] left-[93.82%] max-w-full overflow-hidden max-h-full object-contain"
          alt=""
          src="/public/btn--sign-out@2x.png"
        />

        <div
          class="absolute h-[70.19%] w-[12.92%] top-[14.07%] right-[8.89%] bottom-[15.74%] left-[78.19%] flex flex-row items-center justify-end py-[4.2px] px-0 box-border gap-[12.6px] text-center"
        >
          <div
            class="w-[10.9px] h-[21.1px] flex flex-col items-center justify-center py-[7.6px] px-0 box-border"
          >
            <img
              class="w-[10.1px] relative h-[5.1px] object-contain"
              alt=""
              src="/public/vector-9.svg"
            />
          </div>
          <div class="relative font-medium">Hola Luis</div>
          <img
            class="w-[29.5px] relative rounded-[50%] h-[29.5px] object-cover"
            alt=""
            src="/public/ellipse-1@2x.png"
          />
        </div>
        <div
          class="absolute h-[34.44%] w-[12.08%] top-[32.78%] right-[24.51%] bottom-[32.78%] left-[63.4%] hidden flex-row items-start justify-start text-secondary font-lato"
        >
          <div class="relative font-medium">Customize Dashboard</div>
        </div>
        <div
          class="absolute top-[17.7px] left-[208.8px] flex flex-row items-start justify-start gap-[21.1px]"
        >
          <div class="relative font-semibold">12:19:50 PM</div>
          <div class="relative font-semibold whitespace-pre-wrap">
            Sábado, 20 de abril del 2024
          </div>
        </div>
        <b
          class="absolute h-full w-[11.53%] top-[0%] left-[4.44%] text-base flex items-center"
          >AgriTech</b
        >
      </div>
      <div
        class="w-[1219px] h-[707.4px] overflow-hidden shrink-0 flex flex-row items-start justify-start gap-[122px] text-base-8 text-secondary font-lato"
      >
        <div class="w-[264.4px] relative h-[707.4px]">
          <div
            class="absolute h-[7.35%] w-full top-[45.84%] right-[0%] bottom-[46.81%] left-[0%] hidden"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Water</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/icon--water.svg"
            />
          </div>
          <div
            class="absolute h-[7.35%] w-full top-[64.18%] right-[0%] bottom-[28.47%] left-[0%] hidden"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Security</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/icon--security.svg"
            />
          </div>
          <div
            class="absolute h-[8.06%] w-full top-[92.28%] right-[0%] bottom-[-0.34%] left-[0%] text-seagreen font-poppins"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Configuración</div>
            </div>
            <img
              class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
              alt=""
              src="/public/icon--setting@2x.png"
            />
          </div>
          <div
            class="absolute h-[7.35%] w-full top-[27.51%] right-[0%] bottom-[65.14%] left-[0%] text-seagreen"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Reportes</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
              alt=""
              src="/public/icon--temperature@2x.png"
            />
          </div>
          <div
            class="absolute h-[8.06%] w-full top-[8.82%] right-[0%] bottom-[83.12%] left-[0%] shadow-[0px_4px_4px_rgba(0,_0,_0,_0.25)] text-white font-poppins"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-seagreen flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Dispositivos</div>
            </div>
            <img
              class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/icon--devices1.svg"
            />
          </div>
          <div
            class="absolute h-[7.35%] w-full top-[18.35%] right-[0%] bottom-[74.3%] left-[0%] text-seagreen"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Gráficos</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full object-cover"
              alt=""
              src="/public/icon--lights@2x.png"
            />
          </div>
          <div
            class="absolute h-[7.35%] w-full top-[36.68%] right-[0%] bottom-[55.97%] left-[0%] hidden"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Electricity</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[25.77%] right-[70.05%] bottom-[25.58%] left-[20.39%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/icon--electricity.svg"
            />
          </div>
          <div
            class="absolute h-[7.35%] w-full top-[55.02%] right-[0%] bottom-[37.63%] left-[0%] hidden"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Wi-Fi</div>
            </div>
            <img
              class="absolute h-[48.65%] w-[9.57%] top-[74.23%] right-[70.05%] bottom-[-22.88%] left-[20.39%] max-w-full overflow-hidden max-h-full object-contain"
              alt=""
              src="/public/icon--wifi@2x.png"
            />
          </div>
          <div
            class="absolute h-[8.06%] w-full top-[-0.34%] right-[0%] bottom-[92.28%] left-[0%] shadow-[0px_5.1px_10.11px_rgba(39,_76,_119,_0.16)] text-seagreen font-poppins"
          >
            <div
              class="absolute h-full w-full top-[0%] right-[0%] bottom-[0%] left-[0%] rounded-tl-none rounded-tr-[16.84px] rounded-br-[16.84px] rounded-bl-none bg-primary flex flex-row items-center justify-start py-4 pr-[54.7px] pl-[96.8px] box-border"
            >
              <div class="relative font-semibold">Panel de control</div>
            </div>
            <img
              class="absolute h-[44.39%] w-[9.57%] top-[27.89%] right-[70.05%] bottom-[27.72%] left-[20.39%] max-w-full overflow-hidden max-h-full"
              alt=""
              src="/public/icon--dashboard1.svg"
            />
          </div>
        </div>
        <div
          class="w-[832px] h-[393.9px] overflow-hidden shrink-0 flex flex-col items-center justify-end text-sm text-darkslategray font-body-body-2"
        >
          <div
            class="w-[832px] bg-white flex flex-col items-start justify-start p-6 box-border"
          >
            <div class="self-stretch flex flex-col items-start justify-start">
              <div
                class="self-stretch bg-shade-1 box-border h-[65px] flex flex-col items-start justify-start py-2 px-4 text-shade-6 border-t-[1px] border-solid border-shade-2 border-b-[1px]"
              >
                <div
                  class="self-stretch flex-1 flex flex-row items-center justify-center gap-[8px]"
                >
                  <div
                    class="self-stretch flex-1 flex flex-row items-center justify-start"
                  >
                    <div
                      class="self-stretch flex-1 flex flex-row items-center justify-start py-0 px-2"
                    >
                      <div
                        class="self-stretch flex-1 flex flex-row items-center justify-start gap-[8px]"
                      >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />

                        <b
                          class="self-stretch flex-1 relative tracking-[0.1px] leading-[20px] flex items-center"
                          >Nombre</b
                        >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-row items-center justify-start"
                  >
                    <div
                      class="self-stretch flex-1 flex flex-row items-center justify-start py-0 px-2"
                    >
                      <div
                        class="self-stretch flex-1 flex flex-row items-center justify-start gap-[8px]"
                      >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />

                        <b
                          class="self-stretch flex-1 relative tracking-[0.1px] leading-[20px] flex items-center"
                          >Ubicación</b
                        >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-row items-center justify-start"
                  >
                    <div
                      class="self-stretch flex-1 flex flex-row items-center justify-start py-0 px-2"
                    >
                      <div
                        class="self-stretch flex-1 flex flex-row items-center justify-start gap-[8px]"
                      >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />

                        <b
                          class="self-stretch flex-1 relative tracking-[0.1px] leading-[20px] flex items-center"
                          >Fecha de Registro</b
                        >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div
                    class="self-stretch flex-1 flex flex-row items-center justify-start"
                  >
                    <div
                      class="self-stretch flex-1 flex flex-row items-center justify-start py-0 px-2"
                    >
                      <div
                        class="self-stretch flex-1 flex flex-row items-center justify-start gap-[8px]"
                      >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />

                        <b
                          class="self-stretch flex-1 relative tracking-[0.1px] leading-[20px] flex items-center"
                          >Estado</b
                        >
                        <img
                          class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                          alt=""
                          src="/public/fismile.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="self-stretch box-border h-[65px] overflow-hidden shrink-0 flex flex-col items-start justify-start py-2 px-0 border-t-[1px] border-solid border-shade-2 border-b-[1px]"
              >
                <div
                  class="self-stretch flex-1 flex flex-row items-center justify-center"
                >
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Esp32 - 1
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Parcela 1
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        20-04-2024 12:19:50
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-row items-center justify-start py-0 px-2 box-border gap-[8px] text-smi text-white font-inter"
                  >
                    <div
                      class="rounded-81xl bg-forestgreen h-[30px] flex flex-row items-center justify-end py-1.5 px-[18px] box-border"
                    >
                      <div class="relative leading-[19px] font-medium">
                        Conectado
                      </div>
                    </div>
                    <img
                      class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                      alt=""
                      src="/public/fismile.svg"
                    />
                  </div>
                </div>
              </div>
              <div
                class="self-stretch box-border h-[65px] flex flex-col items-start justify-start py-2 px-0 border-t-[1px] border-solid border-shade-2 border-b-[1px]"
              >
                <div
                  class="self-stretch flex-1 flex flex-row items-center justify-center"
                >
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Esp32 - 2
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Parcela 2
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        20-04-2024 12:19:50
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-row items-center justify-start py-0 px-2 box-border gap-[8px] text-smi text-white font-inter"
                  >
                    <div
                      class="rounded-81xl bg-forestgreen h-[30px] flex flex-row items-center justify-end py-1.5 px-[18px] box-border"
                    >
                      <div class="relative leading-[19px] font-medium">
                        Conectado
                      </div>
                    </div>
                    <img
                      class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                      alt=""
                      src="/public/fismile.svg"
                    />
                  </div>
                </div>
              </div>
              <div
                class="self-stretch box-border h-[65px] flex flex-col items-start justify-start py-2 px-0 border-t-[1px] border-solid border-shade-2 border-b-[1px]"
              >
                <div
                  class="self-stretch flex-1 flex flex-row items-center justify-center"
                >
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Esp32 - 3
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Parcela 3
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        20-04-2024 12:19:50
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-row items-center justify-start py-0 px-2 box-border gap-[8px] text-smi text-white font-inter"
                  >
                    <div
                      class="rounded-81xl bg-salmon-200 h-[30px] flex flex-row items-center justify-end py-1.5 px-[18px] box-border"
                    >
                      <div class="relative leading-[19px] font-medium">
                        Falla
                      </div>
                    </div>
                    <img
                      class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                      alt=""
                      src="/public/fismile.svg"
                    />
                  </div>
                </div>
              </div>
              <div
                class="self-stretch box-border h-[65px] flex flex-col items-start justify-start py-2 px-0 border-t-[1px] border-solid border-shade-2 border-b-[1px]"
              >
                <div
                  class="self-stretch flex-1 flex flex-row items-center justify-center"
                >
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Esp32 - 4
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        Parcela 4
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-col items-start justify-start py-0 px-2 box-border"
                  >
                    <div
                      class="self-stretch flex flex-row items-center justify-start"
                    >
                      <div
                        class="flex-1 relative tracking-[0.1px] leading-[20px] flex items-center h-[50px]"
                      >
                        20-04-2024 12:19:50
                      </div>
                    </div>
                  </div>
                  <div
                    class="flex-1 h-[50px] flex flex-row items-center justify-start py-0 px-2 box-border gap-[8px] text-smi text-white font-inter"
                  >
                    <div
                      class="rounded-81xl bg-gray-100 h-[30px] flex flex-row items-center justify-end py-1.5 px-[18px] box-border"
                    >
                      <div class="relative leading-[19px] font-medium">
                        Desconectado
                      </div>
                    </div>
                    <img
                      class="w-6 relative h-6 overflow-hidden shrink-0 hidden"
                      alt=""
                      src="/public/fismile.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>