<div class="bg-gray-800 text-white w-64 flex-none">
  <div class="p-4">
    <button [routerLink]="['/inicio']" routerLinkActive="bg-seagreen text-white" class="my-4 h-12 w-full flex items-center text-seagreen bg-primary rounded-r-lg hover:bg-seagreen hover:text-white cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="mr-4"></mat-icon>
      <span class="font-semibold">Panel de control</span>
    </button>
    <button [routerLink]="['/dispositivos']" routerLinkActive="bg-seagreen text-white" class="my-4 h-12 w-full flex items-center text-seagreen bg-primary rounded-r-lg hover:bg-seagreen hover:text-white cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone_iphone" class="mr-4"></mat-icon>
      <span class="font-semibold">Dispositivos</span>
    </button>
    <button [routerLink]="['/plantaciones']" routerLinkActive="bg-seagreen text-white" class="my-4 h-12 w-full flex items-center text-seagreen bg-primary rounded-r-lg hover:bg-seagreen hover:text-white cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bar_chart" class="mr-4"></mat-icon>
      <span class="font-semibold">Gráficos</span>
    </button>
    <button [routerLink]="['/dispositivos']" routerLinkActive="bg-seagreen text-white" class="my-4 h-12 w-full flex items-center text-seagreen bg-primary rounded-r-lg hover:bg-seagreen hover:text-white cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="description" class="mr-4"></mat-icon>
      <span class="font-semibold">Reportes</span>
    </button>
    <button [routerLink]="['/configuracion']" routerLinkActive="bg-seagreen text-white" class="my-4 h-12 w-full flex items-center text-seagreen bg-primary rounded-r-lg hover:bg-seagreen hover:text-white cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings" class="mr-4"></mat-icon>
      <span class="font-semibold">Configuración</span>
    </button>
  </div>
</div>
